@import '../../../stylesheets/core/variables';

.legend {
	// width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 18px 1fr 15.75px;
	grid-template-rows: 1fr;
	padding: 10px 0 7px;
	margin-right: 0;
	&__title {
		text-align: left;
		grid-column: 2;
		grid-row: 1;
		font-family: $fontMain;
		font-size: 18px;
		font-weight: 600px;
		color: $colorBrand08;
		text-transform: uppercase;
		padding-left: 10px;
	}
	&__icon {
		grid-column: 1;
		grid-row: 1;
		font-size: 18px;
		color: $colorBrand01;
	}
	&__arrow {
		grid-column: 3;
		grid-row: 1;
		text-align: right;
		font-size: 18px;
		color: $colorBrand08;
		transition: transform 1s ease;
	}
}

.fill {
	&__container {
		display: grid;
		align-items: center;
		grid-template-columns: 18px 1fr 15.75px;
		grid-template-rows: 1fr;
		padding: 10px 0 7px;
	}
	&__icon {
		color: $colorBrand01;
		grid-column: 1;
		grid-row: 1;
		font-size: 18px;
		text-align: left;
	}
	&__title {
		font-family: $fontMain;
		text-transform: uppercase;
		font-size: 18px;
		text-align: left;
		grid-column: 2;
		grid-row: 1;
		font-weight: 600px;
		color: $colorBrand08;
		padding-left: 10px;
	}
	&__arrow {
		grid-column: 3;
		grid-row: 1;
		text-align: right;
		font-size: 18px;
		color: $colorBrand08;
		transition: transform 1s ease;
	}
}

.share-legend {
	display: grid;
	align-items: center;
	grid-template-columns: 18px 1fr 15.75px;
	grid-template-rows: 1fr;
	padding: 10px 0 7px;

	&__icon--share {
		grid-column: 1;
		grid-row: 1;
		font-size: 18px;
		color: $colorBrand01;
	}

	&__title {
		text-align: left;
		grid-column: 2;
		grid-row: 1;
		font-family: $fontMain;
		font-size: 18px;
		font-weight: 600px;
		color: $colorBrand08;
		text-transform: uppercase;
		padding-left: 10px;
	}

	&__icon--arrow {
		grid-column: 3;
		grid-row: 1;
		text-align: right;
		font-size: 18px;
		color: $colorBrand08;
		transition: transform 1s ease;
	}
}
